#scoreboard {
    padding: 10px;
}
table {
    height: 60%;
    width: 100%;
}
table td, th {
    text-align: center;
    padding: 10px;
}

.bottom-border {
    border-bottom: 2px solid black;
}

.score {
    font-size: 15em;
}
#error_box {
    width: 80%;
    height: auto;
    margin: auto;
}

.player1-colors {
}

.player2-colors {
}
